@CHARSET "UTF-8";

html, body {
    margin: 0px;
    width: 100%;
    height: 100%;
}

#bodyDiv {
    position: relative;
    width: 100%;
    height: 100%;
    MARGIN: 0px auto;
    background-image: url(../imgs/picture04.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#bodyDiv p {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.1em;
    /*color: #0073ea;*/
    color: #ff0084;
    font-weight: bold;
}

#loginForm {
    display: none
}

#mainDiv {
    height: 400px;
    width: 1000px;
    margin: auto;
    border: 0px solid #F00
}

#mainDiv a {
    text-decoration: none;
}

#departmentDiv, #employeeDiv, #holidayDiv, #mineDiv {
    height: 100px;
    width: 200px;
    margin: 150px 20px;
    border: 4px solid green;
    float: left;
}

#departmentDialog {
    display: none;
    background-image: url(../imgs/picture02.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#departmentDialogContent{
    float: left;
}
#employeeDialog {
    display: none;
    background-image: url(../imgs/picture05.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#holidayDialog {
    display: none;
    background-image: url(../imgs/picture06.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#mineDialog {
    display: none;
    background-image: url(../imgs/picture03.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#departmentDiv p, #employeeDiv p, #holidayDiv p, #mineDiv p {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 4em;
    /*color: #0073ea;*/
    color: #ff0084;
    font-weight: bold;
    margin: 10px 10px;
}
#departmentList {
    display: none;
    width: 420px;
    float: left;
    margin: 50px 0px 0px 20px;
}
#inputDepartment {
    display: none;
    width: 320px;
    float: left;
    margin: 100px 0px 0px 20px;
}
#departmentButton{
    width: 120px;
    float: left;
    margin: 100px 0px 0px 20px;
}
#departmentList a{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.1em;
    color: #0073ea;
    /*color: #ff0084;*/
    font-weight: bold;
}
#departmentList a{text-decoration: none;}
#departmentList a:hover {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.1em;
    /*color: #0073ea;*/
    color: #ff0084;
    font-weight: bold;
}
#inputDepartment span{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.1em;
    /*color: #0073ea;*/
    color: #ff0084;
    font-weight: bold;
}
/**/
#inputDepartmentId,#inputDepartmentLeader,#inputSuperiorDepartmentNumber{
    display: none;
}

#insertDepartmentButton,#updateDepartmentButton, #deleteDepartmentButton{
    margin:20px 0px 20px 0px;
}

#employeeTableDiv{
    height: 440px;
    width: 900px;
    margin: 0px auto;
    /*border: 1px solid green;*/
}

#employeeTable tr th{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    /*color: #0073ea;*/
    color: #ff0084;
    font-weight: bold;
    text-align: center;
}
#employeeTable tr td{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.1em;
    /*color: #0073ea;*/
    /*color: #ff0084;*/
    font-weight: bold;
    text-align: center;
}
#employeeTable tr:hover{
    color: #ff0084;
}
#employeeTable tr .tdEmployeeNumber{
    width: 60px;
}
#employeeTable tr .tdEmployeeName{
    width: 100px;
}
#employeeTable tr .tdEmployeeEmail{
    width: 240px;
}
#employeeTable tr .tdEmployeeEntryDate{
    width: 120px;
}
#employeeTable tr .tdEmployeeDepartment{
    width: 140px;
}
#employeeTable tr .tdEmployeeIfAdministration{
    width: 60px;
}
#employeeTable tr .tdEmployeeDo{
    width: auto;
}
#pageNumber,#pageCount{
    display: none;
}